<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>First</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button [navPush]="secondPage" class="button special">Go to Second Page</button>
</ion-content>
