<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button class="button special">Click this Button</button><br><br>
  <button [navPush]="firstPage" class="button special">Go to First Page</button>
</ion-content>
